.App {
  text-align: center;
}


.App-logo {
  height: auto;
  width: 50%;
  pointer-events: none;
  align-self: center;
  max-width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.2s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  align-self: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.nav_item{
  display: inline-block;
  padding: 2%;
  font-size: x-large;
  border: 2px solid white;
  color: white;
  border-radius: 20%;
  
}
#logout{
  color: grey;
  text-align: right;
  font-size: small;
  padding: 30px;
  padding-bottom: 0;
  padding-top: 0;
}
.link_logout{
  color: white;
  border: 1px solid grey;
  border-radius: 20%;
}
#username{
  color:black;
  margin: 15px;
}
#password{
  color: black;
  margin: 15px;
}
#login{
  color: black;
  margin: 15px;
}
#submitScrap{
  color: black;
  margin: 15px;
}
.graphButton{
  color: black;
  margin: 15px;
  background-color: white;
  border-radius: 20%;

}
#submitClose{
  color: black;
  margin: 15px;
}
.selection{
  color: black;
  background-color: black;
}
.selector{
  color: black;
}
#prodIDLabel {
  /* Other styling... */
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
}
#selectIdDiv{
  display:flex; 
  flex-direction: row;
}
#selectFailure{
  display:flex; 
  flex-direction: row;
}
#totalCost{
  display:flex; 
  flex-direction: row;

}
.inputBox{
  color:black;
  

}
#prodDesc{
  margin-left: 20px;
}
.scrapItem{
  border: 5px solid white;
  padding: 5px;
  display: block;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;

}
#tracks{

  max-height: 50px;
  max-width: 50px;
  margin-top: 14px;
  margin-left:5px;

}
#tracks2{
  margin-top: 10px;
  margin-left:5px;

  max-height: 30px;
  max-width: 30px;

}
#scrapLogo{
  font-style: italic;
  margin: auto;
  width: 30%;

  display:flex; 
  flex-direction: row;
}
#scrapLogo2{
  font-style: italic;
  margin: auto;
  width: 88%;
  font-size: x-small;

  display:flex; 
  flex-direction: row;
}
.scrapTracker2{
  font-size: medium;
}
#newScrapDiv{
  margin-left: 20px;
}